.post
  .post-box
    .post-member
      %p.post-member__list
        メンバー登録
    .post-form 
      = form_with model: @member, url: members_path do |f|
        .post-form__name 写真  
        = f.file_field :image, class: "post-form__boxes"
      
        .post-form__name 名前
        = f.text_field :name, class: "post-form__boxes"
          
        .post-form__name 出身地
        = f.select :birthplace, [["福岡", "福岡"], ["佐賀", "佐賀"], ["長崎", "長崎"], ["大分", "大分"], ["熊本", "熊本"], ["宮崎", "宮崎"], ["鹿児島", "鹿児島"], ["沖縄", "沖縄"]], include_blank: "選択して下さい"

        .post-form__name 生年月日
        = f.date_field :birthday, class: "post-form__boxes"

        .post-form__name 特技
        = f.text_field :hobby, class: "post-form__boxes"

        .post-form__name メッセージ
        = f.text_area :message, class: "post-form__box"
        
        .post-form__name
        = f.submit "登録", class: "post-form__boxes"
        
